
$color-light: #F3E1C8;  
$color-brown: #6B3B1E;  
$color-dark: #3B1F12;  
$color-beige: #EAD2B3;  
$color-accent: #A65A2E;  
$color-cream: #FFF9F4;

$font-title: 'Playfair Display', serif;
$font-text: 'Lato', sans-serif;
